html {
    font-size: 10px;
    background: url("../../whiplash.jpg") fixed center;
    background-size: cover;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


#gap {
    height: 20vh;
}

.keys {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}


.key {
    border: .4rem solid black;
    border-radius: 20%;
    margin: 1rem;
    padding: 5rem .5rem;
    width: 16rem;
    transition: all .07s ease;

    font-size: 1.5rem;
    text-align: center;
    color: white;
    background: rgba(255, 255, 255, 0.4);
    text-shadow: 0 0 .5rem black;
}

kbd {
    display: block;
    font-size: 4rem;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
}
